* {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin-right: 15px;
  margin-left: 15px;
}

.box-sm {
  height: 80%;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-md {
  height: 80%;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-lg {
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border {
  border: 5px solid black;
}

#yellow {
  background-color: yellow;
  width: 30%;
}

#red {
  background-color: red;
}

#blue {
  background-color: turquoise;
}